isort
autoflake
black
pre-commit
omegaconf
huggingface
huggingface_hub
hydra-core
torch~=1.6.0
numpy~=1.20.3
pandas==1.1.5
transformers==4.26.0
tokenizers==0.13.1
datasets==2.8.0
PyYAML==5.4.1
gluonnlp~=0.8.3
fairseq~=0.10.0
PyPrind~=2.11.2
mxnet~=1.8.0.post0
packaging~=20.9
dataclasses~=0.6
matplotlib~=3.4.2
scipy~=1.7.0